body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.chocolates {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.chocolate {
    margin: 10px;
}

#totalPrice {
    font-weight: bold;
    font-size: 18px;
}
